*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  font-family: 'Overpass Mono';
  margin: 0;
  min-height: 100vh;
  line-height: 1.5;
}

h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

h1, h2,
h3, h4 {
  margin: 0;
  text-wrap: balance;
}

input, button,
textarea, select {
  font: inherit;
}

#gallery {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  list-style: none;
  margin: 0;
  padding: 1rem;
}

#gallery a {
  display: block;
  height: 30vh;
  overflow: hidden;
  position: relative;
}

#gallery img {
  display: block;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  transition: all 1s;
  width: 100%;
}

#gallery img:hover {
  opacity: 1;
  transform: scale(1.1);
}

#gallery h2 {
  background: #171717;
  bottom: 0.5rem;
  color: #fff;
  font-weight: 300;
  line-height: 1;
  padding: 0.5rem 0.5rem 0.3rem;
  position: absolute;
  right: 0.5rem;  
}

#back {
  left: 1rem;
  position: fixed;
  top: 1rem;
}